@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;


body {

  display: flex;
  background-color: #323233;
  flex-direction: column; /* Stack verticalmente */
}

button {
  /* Variables */
--button_radius: 0.75em;
--button_color: #e8e8e8;
--button_outline_color: #000000;
font-size: 17px;
font-weight: bold;
border: none;
border-radius: var(--button_radius);
background: var(--button_outline_color);
}

button:hover .button_top {
  /* Pull the button upwards when hovered */
transform: translateY(-0.33em);
}

button:active .button_top {
  /* Push the button downwards when pressed */
transform: translateY(0);
}

/*------------------------------------
* Header styling
*-------------------------------------
*/


.header {
  display: flex; /* Flexbox for horizontal layout */
  padding: 70px 30px; /* Increased padding around the header */
  display: flex; /* Make the header a flex container */
  justify-content: space-between; /* 
  align-items: center; /* Align items vertically */
}

.header .div {
  flex: 1; /* Each div takes equal space */
  text-align: center; 
  list-style: none; /* Removes default list styling */
  padding: 0;
  margin: 0;
  display: flex; /* Flexbox for horizontal layout */
  justify-content: flex-end; /* Align the list items to the right */
  align-items: center; /* Center the list items vertically */
}




/*------------------------------------
* Footer styling
*-------------------------------------
*/


/*------------------------------------
* CARD  styling
*-------------------------------------
*/







.button-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center; /* Center vertically if needed */
  height: 100%; /* Take the full height of the parent if you also want vertical centering */
}

/* Styling for the 'Load More' button */
.load-more-btn:hover {
  font-style: italic;
  background-color: #ff0b0b; /* Darker blue on hover */
}

.load-more-btn:disabled {
  background-color: #ccc; /* Greyed out when disabled */
  cursor: not-allowed;
}


/***/


@media (max-width: 768px) {
  .card-container {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for smaller screens */
  }
}